.input {
  width: 100%;
  border-radius: 4px;
  border: 1px solid #d9d9d9;
  margin-bottom: 15px;
}
.input:focus {
  outline: none;
  border: 1.5px solid rgb(94, 46, 226);
}
.error {
  font-size: 14px;
  color: red;
}
.inputError {
  width: 100%;
  border-radius: 4px;
  border: 1px solid #f5222d;
  margin-bottom: 15px;
}
