$bottom: -10px;
.sliderItem {
  height: 160px;
  color: #fff;
  line-height: 160px;
  text-align: center;
  background: #364d79;
}
.rate-c {
  position: absolute;
  bottom: -10px;
}

.img {
  height: 100%;
}
.title {
  margin-bottom: 10px;
  font-size: 16px;
  margin-left: 5px;
}
.layoutItem {
  display: flex;
  position: relative;
}
.previous-price {
  font-size: 12px;
  text-decoration: line-through;
}
.current-price {
  font-size: 18px;
  color: #fc8507;
}
.buy-wrapper {
  height: 100%;
  text-align: right;
  position: absolute;
  top: 3px;
  right: 10px;
}
.slider-image {
  display: flex;
  justify-content: center;
}
.description {
  border: 1px solid black;
  padding: 5px;
  border-radius: 3px;
  margin-bottom: 7px;
}
.product-info-wrapper {
  padding-left: 20px;
  width: calc(100% - 250px - 65px);
  position: relative;
  margin-bottom: 15px;
}

.cart-add {
  position: absolute;
  bottom: $bottom;
  width: 120px;
  right: 10px;
}

.product {
  margin-left: auto;
  border-radius: 5px;
  transition: box-shadow 0.5s ease;
  &:hover {
    box-shadow: 0 2px 6px 0 #001529;
  }
}
@media (max-width: 620px) {
  $bottom: -30px;
  .rate-c {
    bottom: -50px;
  }
  .layoutItem {
    flex-direction: column;
  }
  .product {
    height: fit-content;
  }
}
@media (max-width: 950px) {
  .product-info-wrapper {
    width: 100%;
    margin-bottom: 75px;
  }
}
