@import '~antd/dist/antd.css';
$paddingFullSize: 0 150px;
$paddingMinSize: 0 15px;
.ant-layout-header,
.ant-layout-content {
  padding: $paddingFullSize;
}
.site-layout-content {
  padding: 24px;
  width: 100%;
  background: #fff;
}
#components-layout-demo-top .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}
.ant-row-rtl #components-layout-demo-top .logo {
  float: right;
  margin: 16px 0 16px 24px;
}
.ant-card {
  height: 220px;
  overflow: hidden;
}
.ant-card:not(:last-child) {
  margin-bottom: 10px;
}
.ant-carousel .slick-dots li.slick-active button {
  background: black;
  opacity: 0.8;
}
.ant-carousel .slick-dots li button {
  background: black;
}
.ant-rate-star {
  color: black;
}
@media (max-width: 800px) {
  .ant-layout-header,
  .ant-layout-content {
    padding: $paddingMinSize;
  }
}
