.logo {
  color: rgba(255, 255, 255, 0.356);
  width: 60px;
  font-size: 18px;
}
.header {
  position: sticky;
  top: 0;
  z-index: 5;
}
.header-hidden {
  opacity: 0;
  transform: translateY(-80px);
}
.sign-in {
  display: block;
  color: white;
  position: relative;
  margin-left: auto;
  border: none;
  background: transparent;
  cursor: pointer;
  transition: color 0.5s ease;
  &:hover {
    color: #40a9ff;
  }
  &::after {
    left: -28px;
    top: 50%;
    transform: translateY(-50%);
    content: '';
    background: url('../../images/user.png') no-repeat;
    display: block;
    position: absolute;
    width: 22px;
    height: 22px;
    background-size: cover;
  }
}
.header-wrapper {
  display: flex;
  align-items: center;
  color: white;
}
.cart {
  color: white;
  position: relative;
  margin-left: 40px;
  &::after {
    left: -28px;
    top: 50%;
    transform: translateY(-50%);
    content: '';
    background: url('../../images/cart.png') no-repeat;
    display: block;
    position: absolute;
    width: 22px;
    height: 22px;
    background-size: cover;
  }
}

.active {
  color: rgb(39, 93, 194);
}
.user {
  position: relative;
  background: inherit;
  cursor: pointer;
  height: 30px;
  line-height: 10px;
  border: none;
  &:hover {
    color: blue;
    background: rgba(255, 255, 255, 0.356);
  }
}

.log-out {
  position: absolute;
  top: 0;
  left: -35px;
  display: block;
  width: 100px;
  height: 50px;
  background: #001529;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}
.hidden {
  display: none;
}
.search {
  position: relative;
  width: 20%;
  left: 0%;
}
.admin {
  margin-left: 30px;
}
.cart-count {
  display: inline-block;
  margin-left: 10px;
}
